* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 320px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #111;
}

.display {
    width: 100%;
    padding: 10px;
    text-align: right;
    color: #fff;
    font-size: 2em;
}

.ac {
    margin-right: 50px;
}

.nums-container {
    width: 75%;
}

.ops-container {
    width: 25%;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.big-h {
    width: 150px;
    border-radius: 50px;
}

button.big-v {
    height: 130px;
    border-radius: 50px;
}

.bg-orange {
    background-color: rgb(252, 157, 9);
}

.bg-lightgray {
    background-color: rgb(164, 164, 164);
}

.bg-gray {
    background-color: rgb(51, 51, 51);
    color: #fff;
}